body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Make required field asterisks red */
.pf-v6-c-form__label-required {
  color: var(--pf-t--global--color--status--danger--default);
}
